.cartBadge {
  font-size: 0.65rem !important;
  width: 15px !important;
  height: 15px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}